{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="#">                 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav id="sidebar">
        <li>
            <img src="./static/images/Gcode_icon.png" width="35" height="35">
            <span class="logo">G-code viewer</span>
            <button class="toggle-btn">
                <i class="fa-solid fa-arrows-left-right"></i>
            </button>
            <hr>
        </li>
        <ul>
            <li class="active">
                <a href="/"></a>
                <i class="fa-solid fa-house-chimney"></i>
                <span>Home</span>
            </li>
            <li>
                <button class="dropdown btn" onclick="toggleGcodeForm()">
                    <i class="fa-solid fa-code"></i>
                    <span>Upload your G-code</span>
                </button>
                <ul id="form2GCode" class="hidden">
                    <form id="calcForm" method="post">
                        {% csrf_token %}
                        <textarea id="expression" name="expression" placeholder="Введите текст здесь..."></textarea>
                        <button type="submit">Вычислить</button>
                    </form>  
                </ul>
            </li>
            <li>
                <a href="https://linuxcnc.org/docs/html/gcode/g-code.html">
                <i class="fa-solid fa-book"></i>
                <span>Documentation for G-code</span></a>
            <li>
                <a href="https://github.com/mshgor/diplom/tree/master">
                <i class="fa-brands fa-github"></i>
                <span>Download our project on GitHub</span>
                </a>
            </li>
            <li>
                <i class="fa-solid fa-square-phone"></i>
                <span>Contact us</span>
            </li>
        </ul>
    </nav>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'dist/main.bundle.js' %}"></script>
    <script src="{% static 'dist/formHandler.bundle.js' %}"></script>
</body>
</html>