* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  textarea {
    margin: 20px;
    width: 30%;
    height: 200px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #sidebar ul .hidden {
    display: none;
  }
  #sidebar ul .active {
    background-color: #f1f1f1;
  }
  